<!DOCTYPE html>
<html>
<head>
  <title>Bookshelf</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <div class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <h3>Bookshelf</h3>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
            <li class="nav-item mr-10">
              <% if user_signed_in? %>
                <%=  link_to 'Home', '#', class: 'nav-link active', 'aria-current': 'page' %>
              <% end %>
            </li>
            <li class="nav-item">
              <% if user_signed_in? %>
                <%=  link_to 'My books', '#', class: 'nav-link active' %>
              <% end %>
            </li>
          </ul>
          <div class="input-group px-2">
            <input type="text" class="form-control" placeholder="Search books" aria-label="Search books" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Search</button>
            </div>
          </div>
          <div class="d-flex ms-auto">
            <%= link_to 'Login', user_session_path,  class: 'btn btn-outline-primary bg-dark-subtle text-dark border-white me-2' %>
            <%= link_to 'Become member', new_user_registration_path, class: 'btn btn-outline-success bg-dark-subtle text-dark border-white' %>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="container mt-4">
  <div class="row">
    <% @books_info.each do |book| %>
    <div class="col-md-4 mb-4">
      <div class="card mx-4" style="width: 18rem;">
        <img src="<%= book[:image]["image/jpeg"] %>" class="card-img-top" alt="<%= book[:title] %>" style="width: 50%; height: auto; display: block; margin-left: auto; margin-right: auto;">
        <div class="card-body">
          <h5 class="card-title"><%= book[:title] %></h5>
          <p class="card-text">Author: <%= book[:author][0]["name"] %></p>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Want to Read
            </button>
            <ul class="dropdown-menu">
              <li><button class="dropdown-item" type="button">Want to Read</button></li>
              <li><button class="dropdown-item" type="button">Currenty reading</button></li>
              <li><button class="dropdown-item" type="button">Read</button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</body>
</html>