<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profile</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<style>
	.sidebar {
		background-color: #f8f9fa;
		padding: 20px;
		height: 100vh;
	}
		.profile-pic {
			width: 80px;
			height: 80px;
			border-radius: 50%;
			margin-bottom: 15px;
		}
		.username {
			font-size: 1.4rem;
			margin-bottom: 10px;
	}
		.feed { padding: 20px; }

		.feed-item {
			background-color: #ffffff;
			padding: 15px;
			margin-bottom: 15px;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}
	</style>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 sidebar">
			<div class="text-center">
				<img src="profile-pic.jpg" alt="User Profile Picture" class="profile-pic">
				<h2 class="username">Username</h2>
			</div>
			<nav class="nav flex-column">
				<a class="nav-link active" href="#">Home</a>
				<%= link_to 'Friends', show_user_friendship_path, class: 'nav-link' %>
				<a class="nav-link" href="#">Favorites</a>
				<a class="nav-link" href="#">Other option</a>
			</nav>
		</div>

		<div class="col-md-3 mt-2">
			<label for="search_friends" class="form-label">Search for friends:</label>
			<%= form_with url: profile_path, method: :get, local: true do |form| %>
				<div class="input-group">
					<%= form.text_field :email, value: params[:email], class: "form-control", id: "search_friends", name: "email", placeholder: "search for a friend with email", aria: { label: "Search friends" } %>
					<%= form.submit 'Search', class: "btn btn-outline-secondary" %>
				</div>
			<% end %>

			<% if @friends.present? %>
				<div class="row mt-4">
					<div class="col-md-12">
						<h5>Friends found:</h5>
						<div class="card">
							<div class="card-body">
								<ul class="list-group list-group-flush">
									<% @friends.each do |friend| %>
										<li class="list-group-item d-flex justify-content-between align-items-center">
											<%= friend.email %>
											<%= link_to 'Follow', follow_user_path(friend), method: :get, class: 'btn btn-primary btn-sm', role: 'button' %>
										</li>
									<% end %>
								</ul>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
